@*
    *   * Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license.
    *   * See LICENSE in the project root for license information.
*@

@using ApplicationCore.Entities.OrderAggregate;
@model IEnumerable<Order>

@{
    ViewData["Title"] = "Orders";
}

<h2>@ViewData["Title"]</h2>

<form class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">@Html.DisplayNameFor(model => model.BuyerId)</div>
            @Html.TextBox("buyerKey", null, null, new { @class = "form-control" })
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    @if (!Model.Any())
    {
        <i> No order found.</i>

    }
</form>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BuyerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BuyerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
