<div class="container">
  <table class="u-full-width">
    <tbody>
      <tr>
        <td><h1>Ethereum Node Status</h1></td>
        <td>
          <form action="" method="GET">
            <input class="button-primary" type="submit" value="Reload">
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  {{#if hasNodeRows}}
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Node Hostname</th>
          <th>Consortium Participant ID</th>
          <th>Peer Count</th>
          <th>Latest Block Number</th>
        </tr>
      </thead>
      <tbody>
        {{#each nodeRows}}
          <tr>
            <td>{{this.hostname}}</td>
            <td>{{this.consortiumid}}</td>
            <td>{{this.peercount}}</td>
            <td>{{this.blocknumber}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <i>As of {{this.timestamp}}   (Refresh interval: ~{{this.refreshinterval}} seconds)</i>
    <hr />
  {{else}}
    <h4>Waiting on all Ethereum nodes to boot up...</h4>
  {{/if}}
  <h1>Bootstrap New Address with 1000 Ether</h1>
  {{#if minedABlock}}
    <p>Use this function to send 1000 Ether from the predefined account in the genesis block to a new address</p>
    <form action="" method="POST">
      <label for="etherAddress">Address of Recipient</label>
      <input class="u-full-width" type="text" placeholder="Ex: 0x17Bf5e7b3CE6779DBaeDEB907010601A8c1e3118"
        name="etherAddress">
      <input class="button-primary" type="submit" value="Submit">
    </form>
    {{#if error}}
      <h4>Error sending ether</h4>
      <p>{{error}}</p>
    {{/if}}
    {{#if isSent}}
      <h4>Ether sent!</h4>
    {{/if}}
  {{else}}
    <h4>Waiting for first block to be mined...</h4>
  {{/if}}
</div>
