@*
    *   * Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license.
    *   * See LICENSE in the project root for license information.
*@

@using ApplicationCore.Entities.OrderAggregate;
@model Order

@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>
<br />
<div class="order-details">
    <dl class="dl">
        <dt>
            @Html.DisplayNameFor(model => model.BuyerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuyerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipToAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipToAddress)
        </dd>
    </dl>
    @Html.Partial("OrderItems", Model.OrderItems)
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
