@model aspnet_mvc_keyvault_storage.Models.StorageModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>StorageModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsServerEncrypted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsServerEncrypted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ETag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ETag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contents)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contents)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Delete", "Delete", new { fileName=Model.Name }) |
    <a asp-action="Index">Back to List</a>
</div>
