@model IEnumerable<aspnet_mvc_keyvault_storage.Models.StorageModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsServerEncrypted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ETag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contents)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsServerEncrypted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ETag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contents)
            </td>
            <td>                
                @Html.ActionLink("Details", "Details", new { fileName = item.Name }) |
                @Html.ActionLink("Delete", "Delete", new { fileName = item.Name })
            </td>
        </tr>
}
    </tbody>
</table>
